h1{
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
	color: linear-gradient(180deg, #26CBFF 0%, #31CDFF 0.01%, #3485FF 100%);
}

body{
	width: 100%;
	height: 100%;
}

#content{
	padding-top: 5vh;
	height: 95vh;
	width: 100vw;
}

li {
	list-style: none;
	text-align: center;
}

a ul li:hover {
	text-decoration: none;
}

.logement-card{
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  	transition: box-shadow 0.3s ease-in-out;
} 

.logement-card:hover {
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.toolbar-connected a svg{
	opacity: 0.6;
	transition: opacity 0.2s ease-in
}

.toolbar-connected a svg:hover{
	opacity: 1;
}

.bi-plus-circle-fill {
	color: #ffc107;
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out
}

.bi-plus-circle-fill:hover{
	opacity: 1;
}

