body{
	width: 100%;
	height: 100%;
}

.center-content{
	height: 100%;
	width: 100%;
	align-items: center;
}

#content{;
	height: 100vh;
	min-width: 500px;
}

nav{
	z-index: 1024;
}

.logements{
	position: relative;
	top: 100px;
}

li {
	list-style: none;
	text-align: center;
}

a ul li:hover {
	text-decoration: none;
}

.logement-card{
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  	transition: box-shadow 0.3s ease-in-out;
} 

.logement-card:hover {
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.toolbar-connected a img{
	opacity: 0.8;
	transition: opacity 0.2s ease-in-out
}

.toolbar-connected a img:hover{
	opacity: 1;
}

.bi-plus-circle-fill {
	color: #ffc107;
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out
}

.bi-plus-circle-fill:hover{
	opacity: 1;
}

.container-fluid {
    min-height: 100%;
    height: 100%;
}

.col-md-2 {
	background-color : #957bbe;
	border-radius:10px 10px;
	color : white;
	text-align : center;
}

.input-group{
	margin-left:350px;
}

.btn-primary{
	margin-left:50px
}

